<h2>User Details</h2>

<div class = "display">

        <div class = "card card-header results-block">
            <table class="table table-dark table-borderless table-hover">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                    <td><%= @user.full_name %></td>
                    <td><%= @user.email %></td>
                    <td></td>
                    <% if current_user.not_friends_with?(@user.id) %>
                        <td><%= link_to "Follow friend?", friendships_path(friend: @user),class: "btn btn-xs btn-success",method: :post %></td>
                    <% else %>
                        <td>You are friends<td>
                    <% end %>
                    </tr>

                </tbody>
            </table>
        </div>
</div>

<% if  !@tracked_stocks.empty? %>
    <%= render partial: "stocks/list" %>
<% else %>
    <p class = "lead">This user is not tracking any stocks</p>
<% end %>
